<footer class="bg-secondary p-3">
    <div class="d-flex gap-3 justify-content-center align-items-start">
        <p class="mb-0">&copy; Todos os direitos reservados.
        <p class="fw-bold mb-0" style="letter-spacing: 10px;">BIBLIORINDA</p>
        </p>
    </div>

    <hr>
    <p class="mb-0 w-100 text-center fw-bold">Criado por Léo Vitor</p>
</footer>