<div class="content-dashboard" style="min-height: 350px;">
    <div class="d-flex flex-wrap gap-2 justify-content-beetween mb-3">
        <p class="h3" style="font-family: Poppins">Olá, Débora! Boas vindas ao
            <span class="h1 fw-bold fs-3 mb-0"
                style="letter-spacing: 5px; font-family: Montserrat: display: inline-block; font-size: clamp(0,625rem, 0,6237rem + 0,6689vw, 1rem);">BIBLIORINDA</span>!
        </p>

            {{!-- <button class="btn btn-warning" tabindex="-1" type="button" id="btn-truncate-list"><i
                    class="fas fa-exclamation-circle me-2" style="color: black"></i> Truncar</button> --}}
    </div>

    <div class="d-flex gap-3 mb-5 flex-wrap">
        <button class="btn btn-success" tabindex="-1" data-bs-target="#modal-add" data-bs-toggle="modal"
            id="btn-add-book"><i class="fa-solid fa-book-medical me-2"></i> Adicionar novo livro</button>

        <button class="btn btn-danger" tabindex="-1" data-bs-target="#modal-remove" data-bs-toggle="modal"
            id="btn-remove-book"><i class="fa-solid fa-trash me-2"></i> Remover livro</button>

        <button class="btn btn-secondary" tabindex="-1" data-bs-toggle="modal" data-bs-target="#modal-edit"
            type="button" id="btn-edit-book"><i class="fas fa-edit me-2"></i> Editar livro</button>


        <button class="btn btn-info" tabindex="-1" type="button" id="btn-reload-list"><i
                class="fa-solid text-white fa-rotate-right me-2"></i>
            Atualizar livros</button>

        <button class="btn btn-outline-dark" tabindex="-1" type="button" data-bs-toggle="modal"
            data-bs-target="#modal-external">
            <i class="fas fa-search-plus me-2" style="color: #ff8800;"></i> Buscar Externo
        </button>

        <button tabindex="-1" class="ms-auto btn btn-danger" onclick="logout()">
            <i class="fa-solid fa-power-off me-2"></i> Deslogar
        </button>
    </div>


    <label class="form-label fs-5" for="input-search">Pesquise por nome, prateleira, ator ou
        categoria:</label>
    <input autofocus autocomplete="off" type="text" class="form-control form-control-lg mb-4" placeholder="..."
        id="input-search">

    <div class="table-responsive">
        <table class="table table-dark table-hover table-striped" id="table-search">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Prateleira</td>
                    <td>Título</td>
                    <td>Categoria</td>
                    <td>Ator</td>
                </tr>
            </thead>

            <tbody id="list-books"></tbody>
        </table>
    </div>

    <div id="warn-search" style="display: none;"></div>

    <!-- Modal de adicionar livro -->
    <div class="modal fade" tabindex="-1" aria-hidden="true" id="modal-add">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header flex-column">
                    <p class="h2">Adicionar um livro..</p>
                    <p class="h5">Preencha os campos com *</p>
                </div>

                <div class="modal-body d-flex gap-2 flex-column">
                    <div>
                        <input autocomplete="off" id="input-shelf" class="form-control" type="text"
                            placeholder="Insira a prateleira do livro">
                        <span class="mt-0 shelf-invalid-feedback invalid-feedback"></span>
                    </div>

                    <input autocomplete="off" id="input-name" class="form-control" type="text"
                        placeholder="* Insira o nome do livro">
                    <input autocomplete="off" id="input-category" class="form-control" type="text"
                        placeholder="* Insira a categoria do livro">
                    <input autocomplete="off" id="input-author" class="form-control" type="text"
                        placeholder="* Insira o nome do autor">
                </div>

                <div class="modal-footer">
                    <button id="btn-save-book" type="button" class="btn btn-primary"><i
                            class="fa-solid fa-book-medical me-2"></i> Adicionar livro</button>
                    <button class="btn btn-danger" data-bs-dismiss="modal"><i class="fa-solid fa-xmark me-2"></i>
                        Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de remover livro -->
    <div class="modal modal-lg fade" tabindex="-1" aria-hidden="true" id="modal-remove">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header d-flex flex-column">
                    <p class="h2">Remover um livro..</p>
                    <p class="h5">Pesquise abaixo</p>
                </div>

                <div class="modal-body">
                    <label class="form-label" for="input-remove">Pesquise por nome, prateleira, ator ou
                        categoria:</label>
                    <input class="form-control" id="input-remove" type="text" placeholder="...">

                    <div class="table-responsive">
                        <table class="mt-4 table table-dark table-striped"
                            style="overflow-y: auto; max-height: 216px; display: inline-block; width: 100%">
                            <thead>
                                <tr>
                                    <td>Id</td>
                                    <td>Prateleira</td>
                                    <td class="w-50">Título</td>
                                    <td class="w-25">Categoria</td>
                                    <td class="w-25">Ator</td>
                                    <td></td>
                                </tr>
                            </thead>

                            <tbody id="list-remove"></tbody>
                        </table>
                    </div>

                    <div id="warn-remove" style="display: none;"></div>

                    <div id="view-trash-book" class="fw-bold fs-5"></div>
                </div>

                <div class="modal-footer">

                    <div style="margin-right: auto;">
                        <button id="btn-trash-books" class="btn btn-success"><i
                                class="fa-solid fa-floppy-disk me-2"></i> Salvar</button>
                        <button id="btn-clean-books" class="btn btn-danger"><i class="fa-solid fa-xmark me-2"></i>
                            Cancelar tudo</button>
                    </div>

                    <button class="btn btn-danger" data-bs-dismiss="modal"><i class="fa-solid fa-xmark me-2"></i>
                        Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de editar livro -->
    <div class="modal modal-lg fade" tabindex="-1" aria-hidden="true" id="modal-edit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header d-flex flex-column">
                    <p class="h2">Editar um livro..</p>
                    <p class="h5">Pesquise abaixo</p>
                </div>

                <div class="modal-body">
                    <label class="form-label" for="input-edit">Pesquise por ID o livro que quer editar:</label>

                    <div class="input-group">
                        <input class="form-control" id="input-edit" min="1" type="number" placeholder="...">
                        <button id="btn-search-edit" class="btn btn-primary" disabled><i class="fas fa-search me-2"></i>
                            Pesquisar</button>
                    </div>

                    <div id="warn-edit" class="mt-2" style="display: none;">
                        <p class="mb-0 fw-bold fs-5 text-dark">Não achei livro com esse ID.</p>
                    </div>

                    <div class="mt-4 d-flex flex-column gap-2 border rounded p-2" id="inputs-edit">
                        <div class="d-flex gap-2">
                            <div class="w-25">
                                <label for="input-id-edit">ID:</label>
                                <input id="input-id-edit" class="form-control" type="text" placeholder="..." readonly>
                            </div>

                            <div class="w-25">
                                <label for="input-shelf-edit">Prateleira:</label>
                                <input id="input-shelf-edit" class="form-control d-block" type="text" placeholder="..."
                                    readonly>
                                <span class="mt-0 shelf-edit-invalid-feedback invalid-feedback"></span>
                            </div>
                            <div class="w-50">
                                <label for="input-title-edit">Título:</label>
                                <input id="input-title-edit" class="form-control d-block" type="text" placeholder="..."
                                    readonly>
                            </div>
                        </div>
                        <div class="d-flex gap-2">
                            <div class="w-50">
                                <label for="input-category-edit">Categoria:</label>
                                <input id="input-category-edit" class="form-control" type="text" placeholder="..."
                                    readonly>
                            </div>
                            <div class="w-50">
                                <label for="input-author-edit">Ator:</label>
                                <input id="input-author-edit" class="form-control" type="text" placeholder="..."
                                    readonly>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button id="btn-save-edit" class="btn btn-success"><i class="fa-solid fa-floppy-disk me-2"></i>
                        Salvar alterações</button>

                    <button class="btn btn-danger" data-bs-dismiss="modal"><i class="fa-solid fa-xmark me-2"></i>
                        Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de buscar livros no externo -->
    <div class="modal fade" tabindex="-1" aria-hidden="true" id="modal-external">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header flex-column">
                    <p class="h2 text-center">Procure livros em outras bibliotecas..</p>
                    <p class="h5">Selecione como quer pesquisar</p>
                </div>

                <div class="p-4">
                    <label for="select-search-external">Tipo da pesquisa:</label>
                    <select id="select-search-external" class="form-select mb-2">
                        <option value="" disabled selected>Pesquisar pelo..</option>
                        <option value="title">Título</option>
                        <option value="author">Autor</option>
                        <option value="q">Título e Autor</option>
                    </select>

                    <label for="input-search-external">Pesquisar:</label>
                    <div class="input-group">
                        <input id="input-search-external" type="text" class="form-control"
                            placeholder="Insira o valor da pesquisa" disabled>
                        <button id="btn-search-external" class="btn btn-primary" disabled><i
                                class="fas fa-search me-2"></i> Pesquisar</button>
                    </div>

                    <div class="table-responsive mt-4" style="max-height: 216px; overflow-y: auto;">
                        <table class="table table-dark table-striped w-100">
                            <thead>
                                <tr>
                                    <td class="w-50">Título</td>
                                    <td class="w-50">Autor</td>
                                    <td></td>
                                </tr>
                            </thead>

                            <tbody id="list-external"></tbody>
                        </table>
                    </div>

                    <div id="warn-external" style="display: none;">
                        <p class="mb-0 fw-bold fs-4 text-dark">Não achei livros com essas características.</p>
                    </div>
                </div>

                <div class="modal-footer">
                    <button id="btn-clean-external" class="btn btn-secondary me-auto"><i
                            class="fa-solid fa-trash me-2"></i> Limpar</button>

                    <button class="btn btn-danger" data-bs-dismiss="modal"><i class="fa-solid fa-xmark me-2"></i>
                        Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="alert position-absolute d-flex align-items-center fade" style="top: 15px; right: 15px;">
        <p class="text-alert mb-0"></p>
    </div>

    {{!-- Funções da API Bibliorinda --}}
    <script src="/js/func/api/getAllBooks.js"></script>

    {{!-- Funções do sistema Bibliorinda --}}
    <script src="/js/func/loadList.js"></script>
    <script src="/js/func/reloadList.js"></script>
    <script src="/js/func/searchList.js"></script>
    <script src="/js/func/logout.js"></script>
</div>